%h3 
  Jobs
  - if user_signed_in?
    = form_tag new_job_path, method: :get do   
      %button.btn Add Job

= render 'layouts/search'
%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th
        Title
      %th
        Last Updated
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          = link_to job.title, job
        %td
          = job.updated_at
