.sidebar-nav
  %ul.nav.nav-list
    %li
      %a(href=jobs_path)
        Jobs
    %li.nav-header Information
    %li 
      %a 
        For Retired Engineers
    %li 
      %a
        For Hiring Companies